%h4.text-info Fitment Center Orders
%hr
%table.table.table-bordered.table-condensed.table-stripped
  %thead
    %tr
      %th
        Fitment Centre
      %th
        Reference Number
      %th
        Order Amount
      %th
        Request Units
      %th
        Order #
      %th
  %tbody
    -Order.all.each do |x|
      -if x.dispatched == false
        %tr
          %td
            =x.fitment_center.company_name rescue nil
          %td
            =x.ref_number
          %td
            R
            =x.total
          %td
            -x.order_lines.each do |y|
              =y.product.name
              =": "
              =y.qty
              %br
          %td
            =x.id
          %td
            =link_to "Dispatch Order", "/order_dispatch/#{x.id}", :class => 'btn btn-success'

%br
%h4.text-info Daily New Installations by Fitment Center
%hr
%table.table.table-condensed.table-bordered.table-stripped
  %thead
    %tr
      %th
        Fitment Center
      %th
        New Fitments
      %th
  %tbody
    -Customer.where("created_at between '#{Time.now.strftime("%Y-%m-%d")} 00:00:00' and '#{Time.now.strftime("%Y-%m-%d")} 23:59:59'").group(:fitment_centre_id).count.each do |x|
      %tr
        %td
          =FitmentCenter.find(x[0]).company_name
        %td
          =x[1]
        %td
          =link_to "View Detailed Report", '#', :class => 'btn'


