%fieldset
  %table.table.table-stripped.table-condensed.table-bordered
    %tbody
      %tr
        %td
          =f.input :color
      %tr
        %td
          =f.input :make
      %tr
        %td
          =f.input :microdot_number
      %tr
        %td
          =f.input :model
      %tr
        %td
          =f.input :registration_number
      %tr
        %td
          =f.input :type, :as => :select, :collection => [["Passenger", 1], ["SUV", 2], ["Commercial", 3], ["Heavy Duty", 4], ["Motor Cycle", 5], ["Trailer", 6], ["Yellow Metal", 7]]
      %tr
        %td
          =f.input :vinnumber, :label => "VIN Number"
      %tr
        %td
          =f.input :fitment_center_stock_id, :as => :select, :collection => FitmentCenterStock.all, :label_method => :product_name, :label => "DotDna Product"
      %tr
        %td
          = f.hidden_field :_destroy
          = link_to "Remove", '#', class: "remove_fields btn btn-mini btn-danger"