.alert
  Unable to process new installation request as you do not have any DotDna products in your stock. You may order using the link below:
  %br
  =link_to "New Order", new_order_path, :class => 'btn btn-success'