%h4.text-success Thank you for confirming your order! Your order will be dispatched as soon as we have confirmation on your reference number. Your order number is # #{@order.id}
%br
%br
=link_to "Close", "/orders", :class => 'btn btn-primary'
