%br
.row
  %h4.text-success Crime News #{Date.today.strftime("%Y-%m-%d")} (Source News24)
  %br
  %h5.text-info
    %a{:href => "#"} Cape Town man held after wife's bloodies body found in kitchen
  A 48-year-old man has been arrested for the murder of his wife after her bloodied body was found in the kitchen of their Cape Town home.
  %hr
  %h5.text-info
    %a{:href => "#"} Free state municipal official held for alleged arson
  An employee of the Dihlabeng municipality is to appear in the Bethlehem Magistrate’s Court on arson charges after a fire at the municipal offices.
  %hr
  %h5.text-info
    %a{:href => "#"} Confession links man to N3 cop killing
  One of the men allegedly involved in a shoot-out that left two police officers dead and one injured, has been linked to the crime through his co-accused's confession, a Johannesburg court has heard.
%br
