%br
.row
  %center
    %img{:src => "#{asset_path("logo.png")}", :style => "width: 100px;"}
%br
.row
  %table.table.table-condensed
    %tr
      %td
        %a.btn.btn-primary.btn-large.btn-block{:href => "#"} Customer Profile
    %tr
      %td
        %a.btn.btn-primary.btn-large.btn-block{:href => "#"} Crime Alert
    %tr
      %td
        %a.btn.btn-primary.btn-large.btn-block{:href => "#"} Red Flag
    %tr
      %td
        %a.btn.btn-primary.btn-large.btn-block{:href => "#"} DotDna Chat
    %tr
      %td
        %a.btn.btn-primary.btn-large.btn-block{:href => "#"} Contact Us
.row
  %center
    %img{:src => "#{asset_path("veridot.png")}", :style => "width: 100px;"}


