%br
.row
  %center
    %b
      %h4 Welcome back, #{@customer.first_name} #{@customer.last_name}
.row
  %table.table.table-condensed
    %tr
      %td
        %a.btn.btn-primary.btn-large.btn-block{:href => "/app/profile"} Customer Profile
    %tr
      %td
        %a.btn.btn-primary.btn-large.btn-block{:href => "/app/crimealert"} Crime Alert
    %tr
      %td
        %a.btn.btn-primary.btn-large.btn-block{:href => "/app/redflag"} Red Flag
    %tr
      %td
        %a.btn.btn-primary.btn-large.btn-block{:href => "#"} DotDna Dicussion Forum
    %tr
      %td
        %a.btn.btn-primary.btn-large.btn-block{:href => "/app/contactus"} Contact Us
    %tr
      %td
        %a.btn.btn-danger.btn-large.btn-block{:href => "/app/logout"} Exit App