%br
.row
  %center
    %h4.text-info Login
    %br
    =form_tag "/check_login" do
      %table
        %tr
          %td
            = label_tag(:customer_id, "Customer Number")
            = text_field_tag(:customer_id)
        %tr
          %td
            = submit_tag "Login", :class => "btn btn-success btn-block"
        %tr
          %td
            %a.btn.btn-primary.btn-block{:href => "/app/validate"} Enter Verification Code
            %a.btn.btn-primary.btn-block{:href => "/app/verification"} Get Verified