%br
.row
  %center
    %img{:src => "#{asset_path("logo.png")}", :style => "width: 200px;"}

.row
  %h4.text-success My Details
  %table.table.table-bordered.table-stripped
    %tr
      %td
        Customer Name
      %td
        David McFadden
    %tr
      %td
        Customer Number
      %td
        10
    %tr
      %td
        Guarantee Number
      %td
        1432801742
    %tr
      %td
        ID Number
      %td
        8307170000
  %h4.text-success My Assets
  %table.table.table-bordered.table-stripped
    %tr
      %td
        Make
      %td
        BMW
    %tr
      %td
        VIN Number
      %td
        8897783
    %tr
      %td
        Microdot Number
      %td
        0192823874934
    %tr
      %td
        Vehicle Registration
      %td
        GP123AS
    %tr
      %td
        Registration Date
      %td
        28-05-2015
.row
  %hr
  %center
    %a.btn.btn-primary.btn-block.btn-large{:href => "#"} Edit
  %br

.row
  %center
    %img{:src => "#{asset_path("veridot.png")}", :style => "width: 80px;"}