.row
  %h4.text-success My Details
  %table.table.table-bordered.table-stripped
    %tr
      %td
        Customer Name
      %td
        =@customer.first_name
    %tr
      %td
        Customer Number
      %td
        =@customer.id
    %tr
      %td
        Guarantee Number
      %td
        =@customer.guarantee_number
    %tr
      %td
        ID Number
      %td
        =@customer.idnumber
  %h4.text-success My Assets
  %table.table.table-bordered.table-stripped
    -@customer.customer_assets.each do |x|
      %tr
        %td
          Make
        %td
          =x.make
      %tr
        %td
          VIN Number
        %td
          =x.vinnumber
      %tr
        %td
          Microdot Number
        %td
          =x.microdot_number
      %tr
        %td
          Vehicle Registration
        %td
          =x.registration_number
      %tr
        %td
          Registration Date
        %td
          =x.created_at
%hr
.row
  %center
    %a.btn.btn-success.btn-block.btn-large{:href => "#"} Edit
    %a.btn.btn-primary.btn-block.btn-large{:href => "/app/dashboard"} Back
  %br