%br
.row
  %center
    %img{:src => "#{asset_path("logo.png")}", :style => "width: 200px;"}
%br
.row
  %center
    %h4.text-info Red Flag Asset
    %br
      %h4.text-success My Assets - 1 of 1
    %table.table.table-bordered.table-stripped
      %tr
        %td
          Make
        %td
          BMW
      %tr
        %td
          VIN Number
        %td
          8897783
      %tr
        %td
          Microdot Number
        %td
          0192823874934
      %tr
        %td
          Vehicle Registration
        %td
          GP123AS
      %tr
        %td
          Registration Date
        %td
          28-05-2015
      %tr
        %td
          Red Flag
        %td
          =form_tag "#" do
            = submit_tag "Red Flag Asset", :class => "btn btn-danger btn-block"
.row
  %center
    %img{:src => "#{asset_path("veridot.png")}", :style => "width: 80px;"}
