%br
.row
  %center
    %img{:src => "#{asset_path("logo.png")}", :style => "width: 200px;"}
%br
.row
  %center
    %h4.text-info Red Flag Asset
    %br
      %h4.text-success My Assets - 1 of 1
    %table.table.table-bordered.table-stripped
      -@customer_assets.customer_asset.each do |x|
        %tr
          %td
            Make
          %td
            =x.make
        %tr
          %td
            VIN Number
          %td
            =x.vinnumber
        %tr
          %td
            Microdot Number
          %td
            =x.microdot_number
        %tr
          %td
            Vehicle Registration
          %td
            =x.registration_number
        %tr
          %td
            Registration Date
          %td
            =x.created_at
        %td
          Red Flag
        %td
          =form_tag "#" do
            = submit_tag "Red Flag Asset", :class => "btn btn-danger btn-block"
.row
  %center
    %img{:src => "#{asset_path("veridot.png")}", :style => "width: 80px;"}
