%br
.row
  %center
    %h4.text-info Validate
    %br
    =form_tag "/validation_check" do
      = label_tag(:verification_code, "Verification Code")
      = text_field_tag(:verification_code)
      = submit_tag "Verify", :class => "btn btn-large btn-success btn-block"