%br
.row
  %center
    %h4.text-info Customer Verification
    %br
    =simple_form_for(@customer_verification) do |f|
      = f.error_notification
      .form-inputs
        = f.input :cell_number, :label => "Cell Number"
      .form-actions
        = f.button :submit, "Verify", :class => "btn btn-success btn-block"